.blog {
	margin-top: $spacing;
	.img-loaded {
		box-shadow: 3px 3px 3px black;
		cursor: pointer;
		.img {
			@include transition();
			background-size: cover;
		}
		&:hover .img {
			@include transform(scale(1.1));
		}
	}
}