.logo {
    font-family: $sans-serif;
    color: $white;
    font-weight: normal;
    animation: flicker 5s infinite;
    animation-delay: 8s;
    text-transform: uppercase;
    &.large {
        font-size: 2.8rem;
        letter-spacing: 1.5rem;
        @media (max-width: $container-width-md) {
            font-size: 1.5rem;
            letter-spacing: 0.5rem
        }
    }
    &.small {
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
    
}