.modal {
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;

    .close {
        color: $white;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        &:hover {
            color: $gray;
        }
    }
}