.modal {
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;

    .modal-body {
        width: 70vw;
        height: 90vh;
        background-color: $white;
        margin: 1rem auto;
        padding: 1rem;
        overflow: scroll;
        color: $black;
        @media (max-width: $container-width-sm) {
            width: 100%;
            margin: 4rem 0 0 0;
        }
        .post {
            .img-loaded {
                box-shadow: none;
                margin-bottom: $spacing;
            }
        }
    }

    .close {
        color: $white;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        &:hover {
            color: $gray;
        }
    }
}