$nav-height: 5rem;
$nav-padding: 1rem;

header {
  font-family: $sans-serif;
  padding: $nav-padding 0;
  font-size: 1.5rem;
  padding: 0 1rem;

  .flex-item {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: 2rem;
    padding: 2rem 0 5rem 0;
  }

  .nav-item {
    flex-direction: column;
    color: $black;
    padding: 1rem 0;
    border-top: 1px solid $black;
    padding-bottom: 4rem;
    &:hover {
      color: $green;
      border-color: $green;
    }
  }

  strong {
    display: block;
  }

}
