* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
  height: 100vh;
  background-color: #141414;
}

main {
  height: 100%;
}
