* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: $black;
  color: $white;
}

main {
  height: 100%;
}

img {
  max-width: 100%;
}
