h3 {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

h4 {
    font-size: $spacing-m;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

p {
    font-family: $sans-serif;
    margin: $spacing-sm 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: block;
    line-height: $spacing-m;
}