// Colours
$black: rgba(47, 47, 47, 0.98);
$white: #F0F0F2;

$green: #66857B;
$blue: #254559;

//Fonts
$serif: "Crimson Text", serif;
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;