// Colours
$black: #141414;
$white: #FFFFFF;

//Fonts
$serif: "Playfair Display", serif;
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Widths
$container-width: 70rem;

// Spacing
$spacing: 1rem;
$spacing-sm: 0.5rem;
$spacing-lg: 2rem;